{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/survey.css' %}" />

<header>About Us</header>
<body>
   <ul class = "nav"> <!-- NAVBAR Integration in <ul> -->
   <li><a href="..">Home</a></li>
   <li><a href="#">About Us</a></li> <!-- Does not link to anywhere yet -->
   </ul>
   <div>Meet the LabintheWild Team!</div>
   <div>LabintheWild tests your abilities and preferences. At the end of each experiment, you will see a page with your personalized feedback, which lets you compare yourself and your performance to other people around the world.</div>
   <div>By participating, you contribute to research on people's similarities and differences and help improve users' experience when interacting with technology. We believe that research should be done in collaboration with people—people like you from all over the world who are interested in learning about themselves and helping research. With your help, we can, for example, compare the website preferences of people from different countries, or analyze what user interfaces should look like if optimized for the mouse interaction abilities of certain age groups.</div>
</body>
