{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/dogGraph.css' %}" />

<div>
All Results
{% for res in all_results %}
</p>{{ res }}: {{ res.result }}</p>
{% endfor %}
</div>

<dl>
  <dt>All Results:</dt>
  <dd class="20percent">
    <span class="text">
      Data 1: 20%
    </span>
  </dd>
  <dd class="20percent">
    <span class="text">
      Data 2: 50%
    </span>
  </dd>
  <dd class="30percent">
    <span class="text">
      Data 3: 30%
    </span>
  </dd>
</dl>
