{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/survey.css' %}" />

<header>Lab in the Wild</header>
<body>
<div>Before we get started, we have a quick question for you:</div>
<div>To what extent are you participating in an experiment on LabintheWild for the following reasons?</div>
<form action="/survey1/start/{{entry.id}}/" method="post">{% csrf_token %}
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
    {{ form.learn.errors }}
    <label for="{{ form.learn.id_for_label }}">I want to learn about myself</label>
    {{ form.learn }}
  </div>
  <div class="fieldWrapper">
    {{ form.fun.errors }}
    <label for="{{ form.fun.id_for_label }}">For fun</label>
    {{ form.fun }}
  </div>
  <div class="fieldWrapper">
    {{ form.bored.errors }}
    <label for="{{ form.bored.id_for_label }}">I am bored</label>
    {{ form.bored }}
  </div>
  <div class="fieldWrapper">
    {{ form.science.errors }}
    <label for="{{ form.science.id_for_label }}">I want to help science</label>
    {{ form.science }}
  </div>
  <div class="fieldWrapper">
    {{ form.compare.errors }}
    <label for="{{ form.compare.id_for_label }}">I want to compare myself to others</label>
    {{ form.compare }}
  </div>
  <input type="submit" value="Next">
</form>
</body>
