{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/survey.css' %}" />

<header>Lab in the Wild</header>
<body>
<div>Please tell us a bit about yourself.</div>
<div>We need this information for data analysis. Please note that none of the answers are personally identifiable. LabintheWild takes your privacy very seriously.</div>
<form action="/survey1/results/{{entry.id}}/" method="post">{% csrf_token %}
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
    {{ form.takenBefore.errors }}
    <label for="{{ form.takenBefore.id_for_label }}">Have you taken this test before?</label>
    {{ form.takenBefore }}
  </div>
  <div class="fieldWrapper">
    {{ form.gender.errors }}
    <label for="{{ form.gender.id_for_label }}">What is your gender?</label>
    {{ form.gender }}
  </div>
  <div class="fieldWrapper">
    {{ form.age.errors }}
    <label for="{{ form.age.id_for_label }}">How old are you? (Please type a number)</label>
    {{ form.age }}
  </div>
  <div class="fieldWrapper">
    {{ form.education.errors }}
    <label for="{{ form.education.id_for_label }}">What is the highest level of education you have recieved or are pursuing?</label>
    {{ form.education }}
  </div>
  <div class="fieldWrapper">
    {{ form.glasses.errors }}
    <label for="{{ form.glasses.id_for_label }}">Do you wear glasses or contacts?</label>
    {{ form.glasses }}
  </div>
  <div class="fieldWrapper">
    {{ form.personalComputer.errors }}
    <label for="{{ form.personalComputer.id_for_label }}">Are you on a personal computer?</label>
    {{ form.personalComputer }}
  </div>
  <input type="submit" value="Next">
</form>
</body>
