{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/survey.css' %}" />

<header>Lab in the Wild</header>
<body>
<div>Welcome! Lab in the Wild is a research group out of the University of Washington. We tests your abilities and preferences. At the end of each experiment, you will see a page with your personalized feedback, which lets you compare yourself and your performance to other people around the world.</div>
<div>By participating, you contribute to research on people's similarities and differences and help improve users' experience when interacting with technology. We believe that research should be done in collaboration with people—people like you from all over the world who are interested in learning about themselves and helping research. With your help, we can, for example, compare the website preferences of people from different countries, or analyze what user interfaces should look like if optimized for the mouse interaction abilities of certain age groups.</div>
<survey_grid>
    <select_survey1>
        Click <a href="/dogSurvey">Here</a> to go to the dog survey.
    </select_survey1>
    <select_survey2>
        Click <a href="/survey1/confirmation/">Here</a> to go to the Lab in the Wild Survey.
    </select_survey2>
    <select_survey3>
        Still to come...
    </select_survey3>
    <select_survey4>
        Still to come...
    </select_survey4>
</survey_grid>
</body>
