{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/survey.css' %}" />

<header>Lab in the Wild</header>
<body>
  <div>Click <a href="{{url}}">Here</a> to start the study with drop down data entry</div>
  <div>Click <a href="{{url1}}">Here</a> to start the study with check box data entry</div>
  <div>Click <a href="{{url2}}">Here</a> to start the study with flashing images (Note that this survey does not end)</div>
  <div>Notice that you will not be able to move onto a new question until you submit a valid answer.</div>
</body>
