body {
    text-align:justify;
    font-family:"Times New Roman", Times, serif;
    background-color:white;
    width:90%;
    padding:10px;
    border: 10px solid lightblue;
    boarder-radius: 5px;
}

header {
    color:darkgreen;
    background-color:lightblue;
    text-align:center;
    font-size:50px;
    font-family:"Times New Roman", Times, serif;
    width:auto;
}

div {
    width:auto;
    padding:10px;
}