body {
    text-align:justify;
    font-family:"Times New Roman", Times, serif;
    background-color:white;
    width:90%;
    padding:10px;
    border: 10px solid lightblue;
    boarder-radius: 5px;
}

header {
    background-color:lightblue;
    text-color:black;
    text-align:center;
    font-size:50px;
    font-family:"Times New Roman", Times, serif;
    width:auto;
}

div {
    width:auto;
    padding:10px;
}

survey_grid {
    display:grid;
    grid-row-gap:10px;
    grid-column-gap:10px;
    height:400;
}

select_survey1 {
    width:auto;
    height:auto;
    padding:10px;
    background-color:lightblue;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:2;
    border-style:outset;
}

select_survey2 {
    width:auto;
    height:auto;
    padding:10px;
    background-color:lightblue;
    grid-column-start:2;
    grid-column-end:3;
    gird-row-start:1;
    grid-row-end:2;
    border-style:outset;
}

select_survey3 {
    width:auto;
    height:auto;
    padding:10px;
    background-color:lightblue;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:3;
    border-style:outset;
}

select_survey4 {
    width:auto;
    height:auto;
    padding:10px;
    background-color:lightblue;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
    border-style:outset;
}

/* Serves navigation bar on homepage */
.nav {
    background-color:lightblue;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}

/* Serves navigation bar on homepage */
.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

/* Serves navigation bar on homepage */
.nav > li > a {
    text-decoration: none;
    color: #777;
}

/* Serves navigation bar on homepage */
.nav > li > a:hover {
    color: #000000;
}

/* Answer selection on question page */
answer_grid {
    display:grid;
    grid-row-gap:20px;
    grid-column-gap:20px;
    height:auto;
}

answer1 {
    width:auto;
    height:auto;
    padding:20px;
    background-color:lightblue;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:2;
    border-style:outset;
}

answer2 {
    width:auto;
    height:auto;
    padding:20px;
    background-color:lightblue;
    grid-column-start:2;
    grid-column-end:3;
    gird-row-start:1;
    grid-row-end:2;
    border-style:outset;
}

answer3 {
    width:auto;
    height:auto;
    padding:20px;
    background-color:lightblue;
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:2;
    border-style:outset;
}
